<h2 align="center"><b><i><u>Name: Alvina Zia</u></i></b></h2 align="center">
<h2 align="center"><b><i><u>Reg no: 23jzele0504</u></i></b></h2 align="center">
<h2 align="center"><b><i><u>Semester: 3rd(section A)</u></i></b></h2 align="center">
<h2 align="center"><b><i><u>Subject: OOPs & Data Structure</u></i></b></h2 align="center">
<h2 align="center"><b><i><u>seminar tasks</u></i></b></h2 align="center">
<h2 align="center"><b><i><u>Submitted to: Sir Irshad-ullah</u></i></b></h2 align="center">

Task # 01:
                Print numbers from 1 to 10 using a for loop.

In [8]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Task # 02:
                Print a multiplication table for a given number (3) using a for loop.

In [11]:
n = 3
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Task # 03:
                 Create a function to add two numbers.

In [14]:
n = 3
for i in range(1, 11):
    print(f"{n} x {i} = {n * i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Task # 04:
                Use a lambda function to find the square of a number.

In [17]:
square = lambda x: x ** 2
print(square(5))

25

Task # 05:
               Use f-strings to insert a variable in a sentence.

In [20]:
name = "John"
age = 30

sentence = f"My name is {name} and I am {age} years old."
print(sentence)

My name is John and I am 30 years old.