<h2 align="center"><b><i><u>Name: Alvina Zia</u></i></b></h2 align="center">
<h2 align="center"><b><i><u>Reg no: 23jzele0504</u></i></b></h2 align="center">
<h2 align="center"><b><i><u>Semester: 3rd(section A)</u></i></b></h2 align="center">
<h2 align="center"><b><i><u>Subject: OOPs & Data Structure</u></i></b></h2 align="center">
<h2 align="center"><b><i><u>Lab: Lab no 03(lab work task)</u></i></b></h2 align="center">
<h2 align="center"><b><i><u>Submitted to: Sir Irshad-ullah</u></i></b></h2 align="center">

***

# Lab practice
# list

1
Make a list of 5 any integers

In [15]:
y=[12,13,14,15,16]

In [17]:
y

[12, 13, 14, 15, 16]

2
Make a list that contains the student's name, the last four digits of the registration number as an integer, CGPA as a float, and a list that contains the GPA of all semesters. (Nested List)

In [20]:
student_info =  ["Alvin", 504, 3.94, [3.96, 3.94, 4.0, 3.94,3.96,3.98,3.96,3.94]]
# Printing the nested list
for student in student_info:
    print(student)

Alvin
504
3.94
[3.96, 3.94, 4.0, 3.94, 3.96, 3.98, 3.96, 3.94]

3
 In the above list print the student's CGPA. (Index)

In [23]:
student_info[3][0]

3.96

In [25]:
student_info[3][1]

3.94

In [27]:
student_info[3][2]

4.0

In [29]:
student_info[3][3]

3.94

In [31]:
student_info[3][4]

3.96

In [33]:
student_info[3][5]

3.98

In [35]:
student_info[3][6]

3.96

In [37]:
student_info[3][7]

3.94

4
Print the list elements using the while loop and use the length function. (len)

In [40]:
student_info =  ["Alvin", 504, 3.94, [3.96, 3.94, 4.0, 3.94,3.96,3.98,3.96,3.94]]

In [42]:
count = 0
while count < 4:
    print(student_info[count])
    count += 1

Alvin
504
3.94
[3.96, 3.94, 4.0, 3.94, 3.96, 3.98, 3.96, 3.94]

In [44]:
len(student_info)

4

5
Access the list of all semester GPAs using negative indexing.

In [47]:
student_info[3][-1]

3.94

In [49]:
student_info[3][-2]

3.96

In [51]:
student_info[3][-3]

3.98

In [53]:
student_info[3][-4]

3.96

In [55]:
student_info[3][-5]

3.94

In [57]:
student_info[3][-6]

4.0

In [59]:
student_info[3][-7]

3.94

In [61]:
student_info[3][-8]

3.96

6
 Make a list of the first 20 integers using the range function.

In [64]:
s=list(range(20))

In [66]:
print(s)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

7
Make a list of odd integers from 20 to 40 using the range function.

In [69]:
y=list(range(21,40,2))

In [71]:
y

[21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

8
Consider the student list.Student = [Ibrahim, Husain, Irfan, Ayub, Usman]Use in and not in operators to ensure that the student is in the list or not.

In [74]:
Student = ["Ibrahim", "Husain", "Irfan", "Ayub", "Usman"]

In [76]:
"Ibrahim" in Student

True

In [78]:
"Husain" in Student

True

In [80]:
"Ayub" not in Student

False

9
Print all the student lists in task 8 using the for loop.

In [83]:
Student = ["Ibrahim", "Husain", "Irfan", "Ayub", "Usman"]

In [85]:
for Student in Student:
    print(Student)

Ibrahim
Husain
Irfan
Ayub
Usman

10
 Observe what is print, what is the first thing print, what the last thing print. Consider task 8 for the student list. Student [1:3] and student [2:4]

In [88]:
Student = ["Ibrahim", "Husain", "Irfan", "Ayub", "Usman"]

In [90]:
Student[1:3]

['Husain', 'Irfan']

In [92]:
Student[2:4]

['Irfan', 'Ayub']

11
Make an appropriate list and use and demonstrate the use of the following mutatorMethods.

In [95]:
Student = ["Ibrahim", "Husain", "Irfan", "Ayub", "Usman"]

In [97]:
Student.append("Ali")

In [99]:
Student

['Ibrahim', 'Husain', 'Irfan', 'Ayub', 'Usman', 'Ali']

In [101]:
Student.extend(["a","b","x"])

In [103]:
Student

['Ibrahim', 'Husain', 'Irfan', 'Ayub', 'Usman', 'Ali', 'a', 'b', 'x']

In [105]:
Student.insert(2,"jill")

In [107]:
Student

['Ibrahim', 'Husain', 'jill', 'Irfan', 'Ayub', 'Usman', 'Ali', 'a', 'b', 'x']

In [109]:
Student.remove("Ayub")

In [111]:
Student

['Ibrahim', 'Husain', 'jill', 'Irfan', 'Usman', 'Ali', 'a', 'b', 'x']

In [113]:
Student.pop()

'x'

In [115]:
Student

['Ibrahim', 'Husain', 'jill', 'Irfan', 'Usman', 'Ali', 'a', 'b']

12
Use list inducing in the following nested list and access each and every element. x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

In [118]:
x = ["a", ["bb", ["ccc", "ddd"], "ee", "ff"], "g", ["hh", "ii"], "j"]

In [120]:
x[0]

'a'

In [122]:
x[1]

['bb', ['ccc', 'ddd'], 'ee', 'ff']

In [124]:
x[2]

'g'

In [126]:
x[3]

['hh', 'ii']

In [128]:
x[4]

'j'

In [130]:
x[1][0]

'bb'

In [132]:
x[1][0]

'bb'

In [134]:
x[1][1]

['ccc', 'ddd']

In [136]:
x[1][2]

'ee'

In [138]:
x[1][3]

'ff'

In [140]:
x[3][0]

'hh'

In [142]:
x[3][1]

'ii'

# Tuple

1
 Make a tuple containing first five letters of English. (definition)

In [162]:
h=("E","N","G","L","I","S","H")

In [164]:
h

('E', 'N', 'G', 'L', 'I', 'S', 'H')

2
 Use the index to access the third and last element.

In [167]:
h[2]

'G'

In [169]:
h[6]

'H'

3
Make an appropriate list and tuple and use different operations that will show that list is 
mutable and tuple is immutable.

In [172]:
y=[1,2,3,4,5,6]

In [174]:
y

[1, 2, 3, 4, 5, 6]

In [176]:
y[2]=8

In [178]:
y

[1, 2, 8, 4, 5, 6]

In [180]:
y=("kill","hill","world")

In [182]:
y[2]=2

TypeError: 'tuple' object does not support item assignment

4
Make a tuple num = (1, 2, 3, 4).

 a. Observe the output num[2] = 9

In [186]:
num=(1,2,3,4)

In [188]:
num[2]=9

TypeError: 'tuple' object does not support item assignment

# Dictionaries

1
Consider the following structure and observe. Fd= { ‘one’: ‘aik’, , ‘three’: ‘teen’, ‘ten’ : ‘das’, ‘fifteen’ : ‘pandra’}

In [328]:
 Fd= { 'one': 'aik',
      'three': 'teen', 
      'ten' : 'das', 
      'fifteen' : 'pandra'}

 Bracket type

In [331]:
type(Fd)

dict

In [333]:
print(Fd)

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [335]:
Fd['one']

'aik'

In [337]:
Fd['ten']

'das'

In [339]:
del Fd['three']

In [341]:
print(Fd)

{'one': 'aik', 'ten': 'das', 'fifteen': 'pandra'}

In [342]:
 len(Fd)

3

Use the key method and print the list of keys.

In [346]:
list(Fd.keys())

['one', 'ten', 'fifteen']

Use the value function to print the list of values.

In [349]:
list(Fd.values())

['aik', 'das', 'pandra']

Observe the output of Fd.items().

In [352]:
list(Fd.items())

[('one', 'aik'), ('ten', 'das'), ('fifteen', 'pandra')]

 Observe the output Fd.has_key(‘one) and Fd.has_key(‘two’) and think where such 
type of output will help and required.

In [355]:
Fd = {
    'one': 'aik',
    'three': 'teen',
    'ten': 'das',
    'fifteen': 'pandra'
}

In [357]:
x='one' in Fd  
y='two' in Fd

In [359]:
print(x)  
print(y)

True
False

 To copy the dictionary, one may use one of the following. Verify by printing copy 
and alias.

In [362]:
Fd.copy()

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [364]:
alias=Fd

In [366]:
alias

{'one': 'aik', 'three': 'teen', 'ten': 'das', 'fifteen': 'pandra'}

In [368]:
 alias['three'] = 3

In [370]:
alias

{'one': 'aik', 'three': 3, 'ten': 'das', 'fifteen': 'pandra'}

In [372]:
 copy['three'] = 3

The system cannot find the file specified.

In [374]:
copy

The syntax of the command is incorrect.

2  Make an appropriate dictionary and use the following built-in function and observe the 
result.

In [397]:
Fd = {
    'one': 'aik',
    'three': 'teen',
    'ten': 'das',
    'fifteen': 'pandra'
}

In [399]:
Fd.clear()

In [401]:
Fd

{}

In [403]:
print(Fd.get('one'))

None

In [405]:
print(Fd.items())

dict_items([])

In [407]:
print(Fd.keys())

dict_keys([])

In [409]:
print(Fd.values())

dict_values([])

# list comprehension

a;
Consider the following code and print the square. 
squares = []
for x in range(10):
 squares.append(x * x)

In [413]:
squares = []
for x in range(10):
 squares.append(x * x)

In [415]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

b:
Replace the above code with the following. Print the square. This sample one-line code is 
called list comprehension.
squares = [x * x for x in range(10)]

In [418]:
squares = [x * x for x in range(10)]

In [420]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

c:
Chane x*x by any function of x and observe the resulting list

In [423]:
squares = [x **2 for x in range(10)]

In [425]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

d:
List comprehensions can filter values based on some arbitrary condition that decides 
whether or not the resulting value becomes a part of the output list.
even_squares = [x * x for x in range(10) if x % 2 == 0]
1. The generalized syntax:
values = [expression for item in collection if condition]

In [428]:
even_squares = [x * x for x in range(10) if x % 2 == 0]

In [430]:
print(even_squares)

[0, 4, 16, 36, 64]

e:
This new list comprehension can be transformed into an equivalent for-loop:
even_squares = []
for x in range(10):
 if x % 2 == 0:
 even_squares.append(x * x)

In [441]:
even_squares = []

# dic comprehension
1

In [444]:
for x in range(10):
     if x % 2 == 0:
               even_squares.append(x * x)

In [446]:
even_squares

[0, 4, 16, 36, 64]

In [448]:
 { x: x * x for x in range(5) }

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

2

In [280]:
import csv
with open(r'C:\Users\DELL\Desktop\UET\2nd semester\computer programming\Result_CSV.csv', mode ='r')as file:
    csvFile = csv.reader(file)
    for lines in csvFile:
        print(lines)

['Registration No', 'CLO1', 'CLO2', 'CLO3']
['13KTELE0343', '8', '0', '14']
['15KTELE0428', '16.5', '17.5', '20']
['17KTELE0529', '16.5', '26.5', '17']
['17KTELE0535', '14.5', '20.5', '21']
['18JZELE0580', '8', '0', '0']
['18KTELE0560', '13.5', '26', '20']
['18KTELE0562', '27.5', '22.5', '12']
['18KTELE0563', '18', '8.5', '6']
['18KTELE0564', '27', '34', '23']
['18KTELE0565', '20', '27.5', '16']
['18KTELE0566', '19', '25.5', '19']
['18KTELE0567', '25.5', '33.5', '19']
['18KTELE0568', '19', '28', '3']
['18KTELE0569', '8', '7.5', '5']
['18KTELE0570', '15.5', '15.5', '8.5']
['18KTELE0571', '20', '26.5', '14.5']
['18KTELE0572', '25.5', '30', '1']
['18KTELE0573', '22.5', '34', '13']
['18KTELE0574', '20.5', '31', '17']
['18KTELE0575', '18', '32.5', '14']
['18KTELE0576', '21', '28.5', '15']
['18KTELE0577', '26.5', '34.5', '25']
['18KTELE0578', '17', '16.5', '7']
['18KTELE0579', '22.5', '22.5', '10']
['18KTELE0580', '23.5', '22', '21']
['18KTELE0581', '23.5', '26', '19']
['18KTELE0583', '24', '21', '16']
['18KTELE0584', '19', '25', '17']
['18KTELE0585', '17', '23', '18']
['18KTELE0586', '19.5', '27', '18']
['18KTELE0587', '24.5', '30', '21']
['18KTELE0588', '30', '39', '18']